src/main/resources/xsd/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://bezkoder.com/customers"
        targetNamespace="http://bezkoder.com/customers"
        elementFormDefault="qualified">

    <!-- Customer -->
    <xs:complexType name="Customer">
        <xs:sequence>
            <xs:element name="idCustomer" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Get one customer -->
    <xs:element name="GetCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idCustomer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:Customer" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get all customers -->
    <xs:element name="GetCustomersRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="GetCustomersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer"
                            type="tns:Customer"
                            minOccurs="0"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
